<style>
  table {
    border-collapse:collapse
  }
  td, th {
    border:1px solid #ddd;
    padding:8px;
  }
</style>
<h1>Dashboard</h1>
  <h2>Data history</h2>
    <div
      [chart]="lineChart">

    </div>
<div>
  <button (click)="updateTelemetry()">Update telemetry</button>
</div>
  <table>
    <tr><td><h2>LAST VALUES</h2></td><td><h2 >AVERAGE</h2></td><td><h2>OCCURENCE</h2></td><td><h2>CONTROLLO MOTORE</h2></td></tr>
    <tr>
      <td>
        <div *ngFor="let telemetry of telemetryList">
        <h4>{{telemetry.type}} : {{telemetry.value}}</h4>
        <h6>{{lastUpdate | date: 'HH:mm:ss'}}</h6>
      </div>
      </td>
      <td>
        <div *ngIf="averageTemp !== 0 || averageHum !== 0" style="margin-top: -40px">
          <h4>Medium temperature: {{averageTemp}}</h4> <br>
          <h4>Medium humidity: {{averageHum}}</h4>
        </div>
      </td>
      <td>
        <ul *ngFor="let element of temperatureOccurenceValue; let i = index">
          <li><h4>Temperature value: {{element}} Occurence: {{temperatureOccurence[i]}}</h4></li>
        </ul>
        <ul *ngFor="let element of humidityOccurenceValue; let i = index">
          <li><h4>Humidity value: {{element}} Occurence: {{humidityOccurence[i]}}</h4></li>
        </ul>
      </td>
      <td>
        <div class="col" *ngIf="motor">
          <button type="button" class="btn btn-danger" (click)="motorOff()">Turn motor OFF</button>
        </div>
        <div class="col" *ngIf="!motor">
          <button type="button" class="btn btn-success" (click)="motorOn()">Turn motor ON</button>
        </div>
      </td>
    </tr>
  </table>

