<body style="background-color: rgba(255,255,255,0.9)">
<div class="card" style="background-color: #0092ff; color: white">
  <h1 class="fw-light">Dashboard</h1>
</div>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div *ngIf="lastTemperature<60" class="card-body" style="background-color: rgb(71,177,28)">
          <h5 class="card-title" style="color: white">Temperature :)</h5>
          <h6 class="card-subtitle" style="color: white">{{lastTemperature}} °C</h6>
        </div>
        <div *ngIf="lastTemperature>=60" class="card-body" style="background-color: red">
          <h5 class="card-title" style="color: white">Temperature :(</h5>
          <h6 class="card-subtitle" style="color: white">{{lastTemperature}} °C</h6>
        </div>
        <div *ngIf="lastHumidity<100" class="card-body" style="background-color: rgb(71,177,28)">
          <h5 class="card-title" style="color: white">Humidity :)</h5>
          <h6 class="card-subtitle" style="color: white">{{lastHumidity}} %</h6>
        </div>
        <div *ngIf="lastHumidity>=100" class="card-body" style="background-color: red">
          <h5 class="card-title" style="color: white">Humidity :(</h5>
          <h6 class="card-subtitle" style="color: white">{{lastHumidity}} %</h6>
        </div>
        <p class="card-text">Last update: {{lastUpdate | date: 'HH:mm:ss'}}</p>
        <button class="btn btn-outline-info" (click)="showMore()">More details</button>
      </div>
      <div *ngIf="more" class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Average temperature</h5>
          <h6 class="card-subtitle">{{averageTemp}} °C</h6>
        </div>
        <div class="card-body">
          <h5 class="card-title">Average humidity</h5>
          <h6 class="card-subtitle">{{averageHum}} %</h6>
        </div>
      </div>
      <div  *ngIf="more" class="card" style="width: 18rem;" >
        <div class="card-body">
          <h5 class="card-title">Temperature Occurences</h5>
          <ul *ngFor="let element of temperatureOccurenceValue; let i = index">
            <li><h6 class="card-subtitle">{{element}} °C - Occurences: {{temperatureOccurence[i]}}</h6></li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">Humidity Occurences</h5>
          <ul *ngFor="let element of humidityOccurenceValue; let i = index">
            <li><h6 class="card-subtitle">{{element}} % - Occurences: {{humidityOccurence[i]}}</h6></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 36rem;"[chart]="lineChart">
      </div>
      <br>
      <div class="btn-group" role="group" aria-label="Basic example">
        <div class="col" *ngIf="motor">
          <button type="button" class="btn btn-success" (click)="motorOff()">Turn motor OFF</button>
        </div>
        <div class="col" *ngIf="!motor">
          <button type="button" class="btn btn-danger" (click)="motorOn()">Turn motor ON</button>
        </div>
        <div>
          <button type="button" class="btn btn-primary" (click)="updateTelemetry()">Update telemetry</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
